DB_URL=jdbc:mysql://localhost:3306/chaeklist?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=
DB_PASSWORD=

KAKAO_REST_API_KEY=
KAKAO_BOOK_SEARCH_URL=https://dapi.kakao.com/v3/search/book
BOOK_IMAGE_ENRICHMENT_KEY=
